/**
 * Переменные SCSS.
 * Содержит основные настройки темы:
 * - Цветовую палитру
 * - Размеры и отступы
 * - Шрифты и типографику
 * - Переменные для адаптивного дизайна
 * Используется во всех остальных SCSS файлах.
 */

// Основная цветовая палитра
$blue: rgba(11, 98, 160, 1);       // Основной темный цвет (для текста и важных элементов)
$blue-hover:rgba(14, 125, 204, 1);
$foo:rgba(206, 206, 206, 1);
$black: rgba(45, 45, 45, 1);      // Светлый цвет (для фона и светлого текста)
$gray:rgba(238, 240, 243, 1);   // Акцентный цвет (для выделения важных элементов)
$white: rgba(238, 240, 243, 1);       // Основной серый цвет (для фона секций)
$background-color:$white;

$font-family-base: 'Monserat', sans-serif;  // Основной шрифт сайта

// Сетка и контейнеры
$container-width: 1200px;        // Максимальная ширина основного контейнера
$container-padding: 10px;      // Горизонтальные отступы контейнера

$image-radius: 0;

// кнопкиw

$button-radius:5px;
$button-width:280px;
$button-height:60px;
$button-size:18px;
$button-background:$blue;
$button-color:$white;
$button-hover: $blue-hover; 