.modal-phone {
        h2 {
        @include fluid-text(36, 24);
        text-transform: uppercase;
            text-align: center;
    }

    p {
        text-align: center;

        margin-bottom: 32px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        input {
            border: 1px solid rgba(238, 242, 243, 1);
            width: auto;
            background-color: rgba(255, 255, 255, 1);
            height: 64px;
            padding: 23px;
        }

        label {
            margin-bottom: 32px;
        }

        .custom-checkbox {
            p {
                font-weight: 300;
                font-size: 12px;
                line-height: 140%;
                color: rgba(87, 87, 86, 1);
                margin-bottom: 16px;
            }

            span {
                border: solid 2px $white; // Оставляем рамку светлой
                border-color: $black; // Черная рамка для чекбокса

                &::before {
                    border-right-color: $black; // Черная галочка
                    border-bottom-color: $black;
                }
            }

            input:checked+span::before {
                border-right-color: $black; // Черная галочка при активном состоянии
                border-bottom-color: $black;
            }

            input::placeholder {
                color: $black;
                opacity: 1;
            }

        }
    }

    button {
        width: 282px;
        height: 64px;
    }
}