.modal-policy {

    .modal-content {
        position: relative;
        width: 80%;
        height: 80%;
        overflow-y: auto;
        
        @media (max-width: $mobile) {
          width: 100%;
          height: 100vh;
        }
        button{
            margin-inline: auto;
        }
    }
}

    
